@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
}
.grid {
  display: grid;
}
.jcc {
  justify-content: center;
}
.acc {
  align-content: center;
}
.gafc {
  grid-auto-flow: column;
}
.aic {
  align-items: center;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.jcsb {
  justify-content: space-between;
}
.acc_acc {
  padding: 0.5rem;
}
.acc_acc span {
  padding: 1rem;
}
th,
td {
  border: 1px solid white;
}
table,
tr,
th,
td {
  border-collapse: collapse;
  padding: 0.5rem;
}
tr:nth-child(odd) {
  background-color: rgb(233, 233, 233);
}
tr:nth-child(1) {
  background-color: rgb(75, 75, 75);
  color: white;
}
table {
  width: 100%;
}
/* createinvoice */
.createinvoice_header {
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 1rem;
}
.createinvoice_table th:nth-child(1) {
  width: 1rem;
}
.createinvoice_table th:nth-child(3),
.createinvoice_table th:nth-child(4),
.createinvoice_table th:nth-child(5) {
  width: 7rem;
}
.createinvoice_header,
.createinvoice_reciever,
.createinvoice_payer,
.createinvoice_instructions {
  padding: 1rem;
}